<p style="color: green"><%= notice %></p>

<h1 class="m-6 font-semibold text-xl">All Events</h1>

<div id="events" class="flex flex-wrap">
  <% @events.each do |event| %>
    <div><%= render event %></div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New event", new_event_path %>
  <% end %>
